* {
  margin: 0;
  padding: 0;
}
body {
  background: whitesmoke;
  overflow-x: hidden;
}

@media screen and (width > 800px) {
  .mission-leadership {
    grid-template-columns: 3fr 2fr !important;
  }
  .leadership-container {
    justify-items: start !important;
  }
  .page-title {
    scale: 1.5;
  }
}

@media screen and (width > 1100px) {
  .mission-text {
    font-size: 2rem !important;
  }
}

.page-title {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-family: "League Spartan";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}

/* mission */
.mission-leadership {
  display: grid;
  grid-template-columns: 1fr;
}
.mission-container {
  padding: 50px;
  padding-top: 100px;
  max-width: 700px;
  margin: 0 auto;
}
.mission-title {
  text-align: center;
  font-size: 4rem;
  font-family: "League Spartan";
  margin-bottom: 50px;
  color: #4d9dd4;
}
.mission-text {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0);
  border: 1px solid lightgray;
  backdrop-filter: blur(4px);
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.leadership-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.leader-card {
  max-width: 500px;
  margin: 40px;
  /* border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.leadership-image {
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.leadership-text {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  color: #4d9dd4;
  border-radius: 0 0 20px 20px;
}

.up-container {
  margin-top: 100px;
}

.up-title {
  font-size: 3.25rem;
  font-family: "League Spartan";
  text-align: center;
}

.up-gallery-container {
  display: grid;
  margin-top: 50px;
  place-items: center;
  transition: transform 0.5s;
  padding-bottom: 50px;
}

main {
  position: relative;
  display: block;
  overflow: hidden;
}

#neural-network {
  width: 100%;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  z-index: -1000;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

.up-gallery-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 4vw;
  flex-wrap: wrap;
}

.up-card {
  font-family: Inconsolata, sans-serif;
  width: 35vw;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
}

.up-card:hover {
  transform: scale(1.04);
}

.photo1 {
  width: 100%;
  height: 260px;
  background-image: url("https://i.ytimg.com/vi/39Y1ZSc6ySk/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGHIgQyhFMA8=&rs=AOn4CLAUVqpmef5iNLgBz97CLxN4hTHrTg");
  background-size: cover;
  background-position: center;
}

.photo2 {
  width: 100%;
  height: 260px;
  background-image: url("https://www.redbrick.me/wp-content/uploads/2019/11/title.jpg");
  background-size: cover;
  background-position: center;
}

.photo3 {
  width: 100%;
  height: 260px;
  background-image: url("https://www.sas.upenn.edu/sites/default/files/Digital%20Swag/sas-background-quad_0.jpg");
  background-size: cover;
  background-position: center;
}

.up-card-content {
  padding: 24px;
}

.up-name {
  margin: 0 0 12px;
  font-size: 36px;
  font-weight: 400;
  font-weight: bold;
}

.up-description {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: skyblue;
}

.up-arrow {
  font-size: 30px;
  text-decoration: none;
  color: skyblue;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .up-card {
    width: 90vw;
  }

  .up-name {
    font-size: 30px;
  }

  .up-description {
    font-size: 16px;
  }
}

.up-card-content .arrow {
  margin-top: auto; /* pushes arrow to bottom */
}
